body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cat_container {

  justify-content: center;

  align-items: center;
}

.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  width: 50%;

  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img1,
.img2,
.img3 {
  width: 90%;
  display: flex;
  position: absolute;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.img1 img {
  margin-top: 1%;
  width: 80%;
  border: 1px solid rgb(255, 254, 254);
  border-radius: 5px;
}

.img2 img {
  margin-top: 4%;
  width: 90%;

  border: 1px solid rgb(255, 254, 254);
  border-radius: 5px;
}

.img3 img {
  margin-top: 7%;
  width: 100%;
  border: 1px solid rgb(252, 250, 250);
  border-radius: 5px;
}

.card{

  height:26vh;
  padding: 20px;

  margin-top: 4vh;

  display: flex;
  justify-content: space-evenly;

  border-radius: 5px;

  background-color: rgb(154, 239, 239);
  
}

.header{

  display: flex;
  align-items: center;
}

.card_text{

  display: flex;
  justify-content: center;
  align-items: center;
}

.card_text h5{

  font-weight: 600;
  font-size: small;
}